.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header img{
    width: 56px;
}
.header .title{
    padding-left: 30px;
}
.header .title i{
    padding-right: 5px;
}