.sidenav{
    width: 100px;
    /* background-color: royalblue; */
}

.sidenav a{
    color: #fff;
}

.sidenav i {
    padding-right: 12px;
}

.content{
    padding: 16px;
    min-height: 789px;
    height: 100%;
}